<style>
    * {font-family: Verdana;}
    .node {
      border: solid 1px white;
      font: 10px sans-serif;
      line-height: 12px;
      overflow: hidden;
      position: absolute;
      text-indent: 2px;
    }
</style>     

<script type="text/javascript">
        

</script>        
<div class="modal-header">
    Pivot Report {{name}}
</div>
<div class="modal-body">    
 <div id="output" style="margin: 30px;"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>