<div class="popover" tabindex="-1" ng-show="content">
  <div class="arrow"></div>
  <h3 class="popover-title" ng-bind-html="title" ng-show="title"></h3>
  <div class="popover-content">
    <form name="popoverForm">
    <p  style="min-width:300px"></p>
    <div class="form-group">
        <input type="text" ng-model="searchText.$" placeholder="Select ..."/>   
        <select ng-model="ActualRefersModule[wizardfield]" ng-change="reloadRef(wizardfield);" ng-if="refersModule[wizardfield].length>1">
            <option ng-repeat="fld in refersModule[wizardfield]" value="{{fld}}">{{fld}}</option>
        </select>
        <table ng-table="tableParams{{wizardfield}}" class="table  table-bordered table-responsive">
            <tr ng-repeat="user in $data" class="dvtCellLabel" >
                <td ng-click="refUpdated(user,$model, wizardfield);$hide();searchText.$='';">
                    {{user.crmname}}
                </td> 
            </tr>
        </table>
    </div>
    <div class="form-actions">
        <button type="button" class="btn btn-primary" style="border-radius: 0px;" ng-click="$hide()">Close</button>
    </div>
    </form>
  </div>
</div>