<!-- Item template onchange="angular.element(this).scope().setFiles(this)"  -->
<div >
    <div class="row" >
        <div class="" >
            <!--<span class="btn-link"><a data-no-drag target=_top href="https://github.com/a5hik/ng-sortable">test no-drag href</a></span>
            <span class="card-title" >{{card.title}} 
            
            </span> -->   
            <div ng-if="tmp">
            <accordion-group  heading="Nota" is-open="true">
            <table>
             <tr ng-repeat="(count,det) in card.details">
                <td>
                    <span ng-if='det.test!=="notactive"'>
                        {{det.text}}
                    </span>
                </td>
                <td>
                    <span ng-if='det.questiontype === "risposta"' style='float: left;'>
                            Si  <input ng-model="card.details[count]['answers']" type="radio" value="true"/>
                            No  <input ng-model="card.details[count]['answers']" type="radio" value="false"/>
                    </span>
                    <span ng-if='det.questiontype ==="valid"' style='float: left;'>
                            <input type='text' value='' size="50" ng-model="card.details[count]['answers']" />
                    </span>
                    <span ng-if='det.questiontype ==="createdtime"' style='float: left;'>
                            <input type="date" ng-model="card.details[count]['answers']" placeholder="yyyy-MM-dd" min="2014-01-01"
                               max="" required="" class="ng-pristine ng-valid ng-valid-max ng-valid-min ng-valid-required ng-touched">
                    </span>      
                    <span ng-if='det.questiontype ==="documento"' style='float: left;'>
                            <input type="file" file-upload ng-model="card.details[count]['answers']"/>
                    </span>
                </td>
              </tr> 
            </table>
            <br>
   
             </accordion-group>  
            </div>
        </div>
        
    </div>
</div>
