<!-- New Card template -->
<script type="text/javascript" src="Smarty/angular/scripts/services/BoardDataFactory_1.js"></script>
<form ng-submit="addNewCard()" class="noMargin" name="newCardForm">
    <div class="modal-header">
        
        <h4 class="modal-title" ng-model="columnName">Cambio stato in corso</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <progressbar class="progress-striped active" value="dynamic" type="info"></progressbar>
    
        </div>
       
    </div>
    
</form>
