/* General fixes */
	.map-generator-table {
		border-collapse:separate;
		border-spacing: 1rem;
	}

	/* Select height on all maps */
	.slds-select_container .slds-select {
		height: 28px;
	}

	.map-generator-table input,
	.map-generator-table select {
		margin: 0;
	}
/* End General Fixes*/

/* Template.tpl */
	.slds-tabs--scoped__nav li.active {
		border-bottom: 1px solid #fff;
	}

	#secondTab.active {
		border-left: 1px solid #d8dde6;
	}
/* Template.tpl */

/* Create and Load Maps */
	/* Create Map Tab */
	.choose-object-type .dvtCellLabel {
		text-transform: uppercase;
		font-weight: bold;
		color: #54698d;
	}
	.choose-object-type select {
		height: 28px;
		margin: 0;
	}
	.input-query-container {
		position: relative!important;
	}
	.input-query-container span {
		position: absolute;
		padding: 5px;
		font-size: 12px;
		border-radius: 9px;
		color: red;
		right: 1rem;
		top: .8rem;
	}
	.query-name-input input {
		width: 100%;
	}
	/* End Create Map Tab */

	/* Load Map Tab */
		.load-all-maps-select-container {

		}
		#LoadMAps {
			position: relative;
		}

		.select2-container {
			width: 100%!important;
		}

		#select2-GetALLMaps-results {
			overflow-x: hidden;
		}

		.forceRelatedListSingleContainer {
			position: relative;
		}
	/* End Load Map Tab */
/* End Create and Load Maps */

/* IOMap */
	.iomap-container {
		height: 28px;
	}

	.iomap-input-fields,
	.iomap-output-fields {
		margin-top: .1rem;
		width: 50%!important;
		padding: 0 .5rem;
	}


	.iomap-input-fields #SecondDiv #firstInp input,
	.iomap-output-fields #SecondDiv #secondOutput input {
		width: 100%;
		margin: 0;
		padding: 0 .5rem;
	}

	.iomap-input-fields .slds-form-element__control > div,
	.iomap-output-fields .slds-form-element__control > div{
		display: inline-flex;
	}

	.iomap-container #SecondDiv {
		width: 90%;
		vertical-align: top;
		position: relative;
	}

	.iomap-container .slds-combobox_container {
		position: absolute;
		width: 100%;
		z-index: 2;
		top: 0;
	}

	.iomap-container #SecondDiv select {
		z-index: 9;
	}

	.iomap-container .toggle-field {
		margin-left: .1rem;
		width: 6%;
	}

	.iomap-container .toggle-field a {
		margin-top: .4rem;
	}

	.iomap-container .toggle-field a .fa-2x {
		font-size: 1.5em;
	}
/* End IOMap */

/* Mapping */
	.mapping-map #selJoin {
		display: block!important;
	}

	.target-origin-container {
		width: 100%;
		display: inline-flex;
		margin-top: .1rem;
	}

	.target-origin-container select {
		height: 28px;
	}

	.mapping-target-module,
	.mapping-origin-module {
		display: block;
		width: 50%!important;
		padding: .5rem;
		margin: 0 .5rem;
		border: 1px solid #d4d4d4;
	}

	.mapping-target-module > .slds-form-element:first-child,
	.mapping-origin-module > .slds-form-element:first-child {
		margin-bottom: 1rem;
	}

	.mapping-origin-module > .slds-form-element:last-child > .slds-form-element__control > div {
		display: inline-flex;
	}

	.mapping-origin-module > .slds-form-element:last-child > .slds-form-element__control {
		text-align: left;
	}

	.mapping-origin-module #SecondDiv {
		width: 90%;
		vertical-align: top;
		position: relative;
	}

	.mapping-origin-module #SecondDiv .slds-combobox_container {
		position: absolute;
		width: 100%;
		z-index: 2;
		top: 0;
	}

	.mapping-origin-module #SecondField {
		z-index: 9;
	}

	.mapping-origin-module #SecondDiv #SecondInput input {
		width: 100%;
		margin: 0;
		padding: 0 .5rem;
	}

	.target-origin-container .slds-dropdown-trigger {
		position: relative!important;
		display: inline-block!important;
	}

	.toggle-field {
		margin-left: .1rem;
		width: 6%;
	}

	.toggle-field a {
		margin-top: .4rem;
	}

	.toggle-field a .fa-2x {
		font-size: 1.5em;
	}

	@media screen and (min-width: 550px) {
		.mapping-origin-module #SecondDiv #SecondInput input {
			font-size: 12px!important;
		}
	}
/* End Mapping */

/* Create Join Condition */
	#userorgroup {
		position: absolute;
		width: 300px;
		height:110px;
		z-index: 90000;
		display: none;
		height: 165px;
	}

	#contentJoinButtons #userorgroup {
		top: 0!important;
		left: 700px!important;
	}

	#conditionQuery .slds-form-element__label {
		display: block!important;
	}

	.line-sep {
		margin-top: 20px!important;
		margin-bottom: 20px!important;
	}
/* End Create Join Condition */

/* Condition Expression */
	.half {
		width: 100%;
	}

	.tab {
		position: relative;
		margin-bottom: 1px;
		width: 100%;
		color: #fff;
		overflow: hidden;
	}
	input[type=radio] {
		position: absolute;
		opacity: 0;
		z-index: -1;
	}
	label {
		position: relative;
			display: block;
			padding: 0 0 0 1em;
			color: #54698d;
			font-weight: bold;
			line-height: 3;
			cursor: pointer;
			background-color: #f4f6f9;
			font-size: 1.0rem;
			text-align: center;
			background-color: transparent;
	}
	.blue label {
		background: #2980b9;
	}
	.tab-content {
		max-height: 0;
		overflow: hidden;
		background: #f7f9fb;
		-webkit-transition: max-height .35s;
		-o-transition: max-height .35s;
		transition: max-height .05s;
	}
	.blue .tab-content {
		background: #3498db;
	}
	.tab-content p {
		margin: 1em;
	}

	input:checked ~ .tab-content {
		max-height: 100%;
	}

	label::after {
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		width: 3em;
		height: 3em;
		line-height: 3;
		text-align: center;
		-webkit-transition: all .35s;
		-o-transition: all .35s;
		transition: all .35s;
	}
	input[type=checkbox] + label::after {
		content: ">";
		font-size: 20px;
	}
	input[type=radio] + label::after {
		content: "\25BC";
	}
	input[type=checkbox]:checked + label::after {
		transform: rotate(90deg);
	}
	input[type=radio]:checked + label::after {
		transform: rotateX(180deg);
	}
/* End Condition Expression */

/* List Columns */
	.target-module,
	.origin-module {
		display: flex;
	}

	.target-module label,
	.origin-module label {
		font-size: 15px;
		margin-bottom: 0;
		height: 36px;
		padding: 0 5px;
	}

	.target-module input,
	.origin-module input {
		height: 36px;
		width: 100%;
		margin-top: 5px;
	}

	.related-list-content {
		margin-bottom: 2rem;
	}

	.related-list-line,
	.popup-screen-line {
		border-style: inset;
		border-top: 2px solid #d8dde6;
		margin-top: .5rem;
		margin-bottom: .5rem;
	}

	.related-list-container,
	.popup-screen-container {
		display: flex;
		width: 100%;
	}

	.popup-screen-container .popup-screen-select,
	.popup-screen-container .popup-screen-field,
	.related-list-container .slds-form-element {
		width: 50%!important;
		padding: 0 .5rem;
	}

	.related-list-container .slds-select_container,
	.related-list-container #SecondField,
	.related-list-container #SecondDiv,
	.popup-screen-container .slds-select_container,
	.popup-screen-container .slds-form-element,
	.popup-screen-container #SecondField,
	.popup-screen-container #SecondDiv {
		width: 100%;
	}

	.related-list-container #SecondField,
	.popup-screen-container #Firstfield {
		height: 28px;
	}

	.related-list-container #SecondDiv input,
	.popup-screen-container #SecondDiv input {
		height: 26px;
		margin: 0;
		padding: 0 .5rem;
		width: 100%;
	}

	.slds-button_icon {
		margin-top: 2px;
	}

	.slds-button_icon img {
		width: 16px;
	}

	.slds-button_icon img:hover {
		opacity: .7;
	}
/* End List Columns */

/* Condition Query */
	#selJoin {
		width: 100%;
		display: inline-flex;
	}

	#sel1,
	#sel2 {
		width: 45%;
	}

	#sel1 .slds-select_container,
	#sel2 .slds-select_container{
		margin-bottom: 5px;
	}

	#centerJoin {
		width: 10%;
		padding: 0.75rem;
	}

	#centerJoin span {
		font-size: 40px;
		margin: 0;
	}

	#conditionQuery #contenitoreJoin {
		height: auto!important;
	}

	#conditionQuery #contenitoreJoin > div {
		overflow-x: initial;
		overflow-y: initial;
		height: auto!important;
	}

	/** Section Field **/
		#sectionField .slds-form-element__control {
			display: inline-flex;
			width: 100%;
		}
		#sectionField input,
		#sectionField select {
			width: 50%;
		}
		#sectionField #selectableFields {
			margin-right: 1rem;
			height: 150px;
		}
		#sectionField input {
			height: 20px;
			margin-top: 0;
		}
		#sectionField .slds-select[multiple] optgroup[label],
		#sectionField .slds-select[multiple] option {
			padding: 2px .5rem;
		}
	/** End Section Field **/

	/** Query zone **/
		#generatedquery #results {
			text-align: left;
		}
		#where-condition-title span {
			vertical-align: middle;
		}
		.condition-groups {
			padding: 0 .5rem;
		}
	/** End Query zone **/

	/** Aside zone **/
		#condition-query-aside {
			padding: 0 .5rem!important;
			height: 200px;
		}

		#AlertsAddDiv {
			margin-top: 10px;
			height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
		}

		#AlertsAddDiv .alerts {
			text-align: left;
			margin: 0 0 5px 0;
			width: 90%;
			position: relative;
			background-color: #54698D;
			color: #fff;
		}

		#AlertsAddDiv .alerts .closebtns {
			margin-bottom: 5px;
		}

		#AlertsAddDiv .alerts strong {
			line-height: 1.1;
		}

		#AlertsAddDiv .alerts i {
			color: #54698D;
			font-size: 13px;
		}

		.query-icons {
			position: absolute;
		}

		.query-icons:hover {
			opacity: .7;
			cursor: pointer;
		}

		.plus-icon {
			top: 5px;
			right: -18px;
		}

		.check-icon {
			bottom: 25px;
			right: -20px;
		}

		.desktop-icon {
			bottom: 5px;
			right: -20px;
		}
	/* End Aside Zone */
/* End Condition Query */

/* Field Dependency & Field Dependency Portal */

	.field-dependency-container,
	.field-dependency-portal-container {
		margin-top: .5rem;
	}

	.field-dependency-module,
	.field-dependency-portal-module {
		margin-bottom: 1rem;
	}

	.field-dependency-module > div,
	.field-dependency-portal-module > div {
		padding: 0 .5rem;
	}

	.field-dependency-field,
	.field-dependency-portal-field {
		display: flex;
		width: 100%;
		margin-bottom: 1rem;
	}

	.field-dependency-field > div:first-child,
	.field-dependency-field > div:last-child,
	.field-dependency-portal-field > :first-child,
	.field-dependency-portal-field > :last-child {
		width: 40%;
		padding: 0 .5rem;
	}

	.field-dependency-field > .operators-select,
	.field-dependency-portal-field > .operators-select {
		width: 20%;
		margin-top: 1.3rem;
		height: 28px;
	}

	.field-dependency-insert-value input,
	.field-dependency-portal-insert-value input {
		height: 26px;
		margin: 0;
		padding: 0 .5rem;
		width: 100%;
	}
	.field-dependency-insert-value #SecondInput,
	.field-dependency-portal-insert-value #SecondInput {
		transition: .5s ease-in-out;
	}
	.field-dependency-insert-value button,
	.field-dependency-portal-insert-value button {
		opacity: 1;
		-webkit-transition: all .25s ease-in-out;
		   -moz-transition: all .25s ease-in-out;
		    -ms-transition: all .25s ease-in-out;
		     -o-transition: all .25s ease-in-out;
		        transition: all .25s ease-in-out;
	}

	.field-dependency-insert-value button:hover,
	.field-dependency-portal-insert-value button:hover {
		opacity: .7;
		-webkit-transition: all .25s ease-in-out;
		   -moz-transition: all .25s ease-in-out;
		    -ms-transition: all .25s ease-in-out;
		     -o-transition: all .25s ease-in-out;
		        transition: all .25s ease-in-out;
	}

	.add-fields-picklist-block {
		padding: 0 .5rem;
	}

	.add-fields-picklist-block button:first-child {
		float: left!important;
	}

	/* Add fields Modal */
		#fields h2 {
			margin: 0;
		}
		#fields h3 {
			margin-top: 0;
		}
		#fields .slds-modal__close {
			top: 1rem!important;
			right: 1rem!important;
			color: #313131;
			transition: .25s ease-in-out;
		}
		#fields .slds-modal__close:hover {
			color: #7B7B7B!important;
			opacity: .7;
			transition: .25s ease-in-out;
		}
		.choose-field-content {
			margin-bottom: 2rem;
			padding: 0 .5rem;
		}
		.radio-buttons-content {
			padding: 0 .5rem;
			margin-top: 1rem;
		}
		.radio-buttons-content #SecondDiv {
			width: 100%;
			display: inline-flex;
		}
		.radio-buttons-content #SecondDiv > div {
			width: 20%;
			margin-left: 4rem;
		}
		.radio-buttons-content #SecondDiv > div input {
			width: 50px!important;
			height: 26px!important;
			left: 0;
		}
		.radio-buttons-content #SecondDiv > div .slds-checkbox--off,
		.radio-buttons-content #SecondDiv > div .slds-checkbox--on {
			font-size: 12px;
		}
		.radio-buttons-content label {
			padding: 0;
			margin-bottom: 0;
			border-radius: 5px;
			border: 1px solid transparent;
		}
		.radio-buttons-content .toggle-hidden {
			width: 58%;
		}
		.radio-buttons-content .toggle-hidden .slds-checkbox--faux {
			margin-left: 5px;
		}
		.radio-buttons-content .toggle-readonly {
			width: 65%;
		}
		.radio-buttons-content .toggle-readonly .slds-checkbox--faux {
			margin-left: 15px;
		}
		.radio-buttons-content .toggle-mandatory {
			width: 75%;
		}
		.radio-buttons-content .toggle-mandatory .slds-checkbox--faux {
			margin-left: 20px;
		}
	/* End Add fields Modal */

	/* Add Picklist Modal */
		#Picklist h2 {
			margin: 0;
		}
		#Picklist .slds-modal__close {
			top: 1rem!important;
			right: 1rem!important;
			color: #313131;
			transition: .25s ease-in-out;
		}
		#Picklist .slds-modal__close:hover {
			color: #7B7B7B!important;
			opacity: .7;
			transition: .25s ease-in-out;
		}
		.picklist-modal-content h3 {
			margin-top: 0;
		}
		.picklist-modal-fields-content {
			display: flex;
		}
		.picklist-modal-fields-content select {
			height: 28px;
		}
		.picklist-modal-fields-content > div {
			width: 50%;
			padding: 0 .5rem;
		}
		.picklist-modal-fields-content #ShowmoreInput > div {
			margin-top: 1.3rem;
		}
		.picklist-modal-fields-content #ShowmoreInput > div .slds-button_icon {
			opacity: 1;
			transition: opacity .25s ease-in-out;
		}
		.picklist-modal-fields-content #ShowmoreInput > div .slds-button_icon:hover {
			opacity: .5;
			transition: opacity .25s ease-in-out;
		}
		.picklist-modal-fields-content #ShowmoreInput > div:not(:first-child) {
			margin-top: .5rem;
		}
		.picklist-modal-fields-content #ShowmoreInput input {
			width: 100%;
			margin: 0;
			height: 26px;
			padding: 0 .5rem;
		}
	/* End Add Picklist Modal */
/* End Field Dependency & Field Dependency Portal */

/* Create View Portal */
	.create-view-portal-container {
		margin-top: 1rem;
		padding: 0 .5rem;
	}
	.create-view-portal-container #divForAddRows {
		display: flex;
		width: 100%;
	}
	.create-view-portal-container #divForAddRows > div:first-child {
		width: 75%;
	}
	.create-view-portal-container #divForAddRows > div:last-child {
		width: 25%;
	}
	.view-portal-write-block-name {
		margin: 1rem 0;
		text-align: left;
	}
	.view-portal-write-block-name input {
		width: 100%;
		margin: 0;
	}
	.view-portal-select-container {
		padding-right: .5rem;
	}
	.view-portal-buttons-container {
		padding-left: .5rem;
	}
	.view-portal-buttons-container img {
		height: 28px;
		width: 28px;
		transition: .23s ease-in-out;
	}
	.view-portal-buttons-container .slds-button_icon:hover {
		transition: .23s ease-in-out;
		opacity: .5;
	}
	#FieldsForRow {
		height: 180px;
	}
	#FieldsForRow optgroup[label] {
		padding: .5rem;
	}
	#FieldsForRow optgroup option {
		padding: .2rem .3rem;
	}
	#divForAddRows label {
		margin-top: .7rem;
		margin-bottom: .5rem;
	}
/* End Create View Portal */

/* Import Business Mapping */
	.import-business-mapping-container {
		display: block!important;
		width: 100%;
	}

	/* Target-Module */
		.import-business-target-module {
			margin-bottom: 1rem;
		}
		.import-business-target-module #sel1 {
			width: 100%;
			padding: 0 .5rem;
		}
	/* End Target-Module */

	/* Select Fields */
		.import-business-select-fields #sel2 {
			display: flex;
			width: 100%;
			padding: 0 .5rem;
		}
		.import-business-select-fields #sel2 .slds-form-element {
			width: 43%;
		}
		.import-business-select-fields #sel2 #sel1 {
			width: 14%;
			margin-top: 1.7rem;
			text-align: center;
		}
		.import-business-select-fields #sel2 #sel1 label {
			cursor: default;
		}
	/* End Select Fields */

	/* contenitoreJoin content */
		.import-business-mapping-container #contenitoreJoin {
			display: none;
		}
	/* End contenitoreJoin content */

	/* Update Import Business */
		.update-import-business #sel1 {
			width: 100%;
			padding: 0 .5rem;
		}
		.update-import-business .slds-form-element__control {
			display: block!important;
		}
		.update-import-business .slds-form-element__control select{
			width: 100%!important;
		}
	/* End Update Import Business */
/* End Import Bussines Mapping */

/* Record Set Mapping */
	.record-set-mapping-container {
		margin-top: 1rem;
		text-align: left!important;
		padding: 0 .5rem;
	}
	.record-set-mapping-container > div {
		margin-bottom: .5rem;
	}

		/* First input */
			.inset-value-container {
				display: flex;
			}
			.inset-value-container > div:first-child {
				width: 75%;
			}
			.toggle-field-below {
				margin-top: 1.6rem;
				display: flex;
			}
			#record-set-mapping-entity-value {
				width: 94%;
			}
			#record-set-mapping-entity-value {
				width: 100%;
			}
		/* End First input */

		/* Action select */
			.action-add-button-container {
				display: flex;
				width: 100%;
			}
			.record-set-mapping-action-select {
				width: 75%;
			}
			.add-button-content {
				margin-top: 1.3rem;
				width: 25%;
			}

		/* End Action select */
/* End Record Set Mapping */



/*	#LDSstyle {
		border: 1px solid black;
		margin-right: 0px;
		margin-top: 0px;
		width: 100%;
		height: 100%;
	}

	#LDSstyle li {
		margin: 0px;
		padding: 0px;
	}

	#LDSstyle a:hover {
		background: #c3cede;
	}
*/

	.ajax_loader {
		background: url("modules/MapGenerator/image/spinner_squares_circle.gif") no-repeat center center transparent;
		width: 100%;
		height: 100%;
	}

	.blue-loader .ajax_loader {
		background: url("modules/MapGenerator/image/ajax-loader_blue.gif") no-repeat center center transparent;
	}

/*	#feedback {
		font-size: 1.4em;
	}

	#selectable .ui-selecting {
		background: #FECA40;
	}

	#selectable .ui-selected {
		background: #F39814;
		color: white;
	}

	#selectable {
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 60%;
	}

	#selectable li {
		margin: 3px;
		padding: 0.4em;
		font-size: 1.4em;
		height: 18px;
	}
*/

/*The buttonset container needs a width so we can stack them vertically.*/

/*#radio {
	width: 85%;
}
*/

/*Make each label stack on top of one another.*/
/*	.ui-buttonset-vertical label {
		display: block;
	}*/

/*
 * Handle colliding borders. Here, we"re making the bottom border
 * of every label transparent, except for labels with the
 * ui-state-active or ui-state-hover class, or if it"s the last label.
 *
 */

/*	.ui-buttonset-vertical label:not(:last-of-type):not(.ui-state-hover):not(.ui-state-active) {
		border-bottom: transparent;
	}
*/

/*
 * For lables in the active state, we need to make the top border of the next
 * label transparent.
 *
*/

/*.ui-buttonset-vertical label.ui-state-active+input+label {
	border-top: transparent;
}*/


/*
 * Oddly enough, the above style approach doesn"t work for the
 * hover state. So we define this class that"s used by our JavaScript
 * hack.
 *
 */

/*.ui-buttonset-vertical label.ui-transparent-border-top {
	border-top: transparent;
}

select {
	width: 300px;
}

.overflow {
	height: 200px;
}


.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: -5px;
	right: 105%;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

/*=============================*/
/*
	#LDSstyle {
		border: 1px solid black;
		margin-right: 0px;
		margin-top: 0px;
		width: 100%;
		height: 100%;
	}

	#LDSstyle li {
		margin: 0px;
		padding: 0px;
	}

	#LDSstyle a:hover {
		background: #c3cede;
	}

	.ajax_loader {
		background: url("modules/MapGenerator/image/spinner_squares_circle.gif") no-repeat center center transparent;
		width: 100%;
		height: 100%;
	}

	.blue-loader .ajax_loader {
		background: url("modules/MapGenerator/image/ajax-loader_blue.gif") no-repeat center center transparent;
	}

	#feedback {
		font-size: 1.4em;
	}

	#selectable .ui-selecting {
		background: #FECA40;
	}

	#selectable .ui-selected {
		background: #F39814;
		color: white;
	}

	#selectable {
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 60%;
	}

	#selectable li {
		margin: 3px;
		padding: 0.4em;
		font-size: 1.4em;
		height: 18px;
	}*/
	/*
		 * The buttonset container needs a width so we can stack them vertically.
		 *
		 */

	/*#radio {
		width: 85%;
	}*/
	/*
		 * Make each label stack on top of one another.
		 *
		 */

/*	.ui-buttonset-vertical label {
		display: block;
	}*/
	/*
		 * Handle colliding borders. Here, we"re making the bottom border
		 * of every label transparent, except for labels with the
		 * ui-state-active or ui-state-hover class, or if it"s the last label.
		 *
		 */

/*	.ui-buttonset-vertical label:not(:last-of-type):not(.ui-state-hover):not(.ui-state-active) {
		border-bottom: transparent;
	}*/
	/*
		 * For lables in the active state, we need to make the top border of the next
		 * label transparent.
		 *
		 */

/*	.ui-buttonset-vertical label.ui-state-active+input+label {
		border-top: transparent;
	}*/
	/*
		 * Oddly enough, the above style approach doesn"t work for the
		 * hover state. So we define this class that"s used by our JavaScript
		 * hack.
		 *
		 */

/*	.ui-buttonset-vertical label.ui-transparent-border-top {
		border-top: transparent;
	}

	select {
		width: 300px;
	}

	.overflow {
		height: 200px;
	}

	.tooltip {
		position: relative;
		display: inline-block;
		border-bottom: 1px dotted black;
	}

	.tooltip .tooltiptext {
		visibility: hidden;
		width: 120px;
		background-color: black;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
*/
		/* Position the tooltip */
	/*	position: absolute;
		z-index: 1;
		top: -5px;
		right: 105%;
	}*/
/*
	.tooltip:hover .tooltiptext {
		visibility: visible;
	}*/
	/*========================