/*******************************************************************************
index.php
*******************************************************************************/
#mvcontainer{
    width: 80%;
    height:70%;
    margin:auto;
    margin-top: 20px;
    text-align: center;   
}

#mvmenu{
   width: 960px;
   height:100px;
   /*background-image: url("modules/MVCreator/image/menu2.gif");*/
   background-repeat: no-repeat;
   background-size: 100% 100%;
}

#mvtitle{
    
  height: 50px;
  font-weight: bold;
  text-align: center;
  color: #717171;
  font-family: verdana;
  font-size: 34px;
}

 
 .content{
   width: 80%;
   height:70%;
/*   background-image: url("modules/MVCreator/image/mvmenu4.png");
   background-repeat: no-repeat;
   background-size: 100% 100%;*/
}

#pulsantiMenù{
    padding-top: 3px;
    width: 1060px;
    height:50px;
    background: #717171; 

}


/*******************************************************************************
mvmenuCreaView.php
*******************************************************************************/
.selDataBase{
   width: 960px;
   height:50px;
   padding-top: 5px;
   padding-bottom: 5px;
   
}

#sendTab{
   margin-top: 5px;
}

.dbList{
    
    width: 498px;
    height:40px;
    color: #333333;
    font: bold 13px verdana;
    background: #DDDDDD;
    padding:5px;
    border: 1px solid #717171;
    margin-top: 5px;
}



ul#selTab{
    width: 497px;
    height: 230px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
    border: 1px solid #717171; 
    margin: auto;
    padding:0px;
    text-align:left;
    font: bold 13px verdana;
}

#selTab li label{
   display: block;
   padding: 3px 3px 3px 0px;
   color: #333333;
   position: relative;
   left:0px;
}

#selTab li label:hover{
   color: #000;
   background-color: #EEE;
   font: bold 14px verdana, Helvetica, sans-serif;
}


#labelNameView{
   border: 1px solid #717171;
   font: bold 12px verdana, Helvetica, sans-serif;
   color: #0B0B3B;
   height:38px;
   margin-top: 10px;  
   width: 230px;
   
}

#nameViewDiv{
   width: 300px;
   border: 1px solid #717171;
   border-left:0px;
   height:38px;
   margin-top: 10px;
   
    
}
#nameView{
   width: 300px;
   height:38px;
   font-family:verdana;
   font-size:12px;
   color: #333333;
   text-align:center;
}  
   
#divView{
    height:50px;
}


.map-creator-block{
  display: inline-block;
}


/*******************************************************************************
gestoneViste.php
*******************************************************************************/

#divManage{
   width: 958px;
   height:380px;
}

ul#elements{
    list-style: none;
    width: 500px;
    padding:10px;
    margin:auto;
}

#elements li {
     margin:auto;
}

#selViews{
    width: 499px;
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
    border: 1px solid #717171; 
    padding:0px;
    text-align:left;
    font: bold 13px verdana;
    background-color : transparent;
    
    
  }
  
  #buttonsManage{
      height: 50px;
      padding:5px;
  }
  
  #resultView{
      width: 958px;
      height:100px;
  }
  #textmessage{
      width: 499px;
      height: 50px;
      margin-top: 5px;
      resize: none;
      font: bold 13px verdana;
      border: 1px solid #717171; 
  }
  
/*******************************************************************************
mvmenuJoin.php
*******************************************************************************/
.submvtitleDiv{
   width: 100%;
   height:30px;
   border: 1px ;
   border-bottom: 2px solid #717171; 
   font-weight: bold;
   text-align: center;
   color:  #717171;
   font-family: verdana;
   font-size: 20px;
}


#results{
    width: 100%;
    height:25%;
    text-align: left;
/*    background: #C0C0C0;*/
    border: 1px ;
    overflow-y: auto;
    overflow-x: hidden;
}

.sel{
   color: #333333;
   width: 300px;
   height:25px;
   font: bold 13px verdana;
   background: #DDDDDD;
   padding:5px;
   margin-top: 5px;
}

.selField{
   color: #333333;
   width: 300px;
   height:100px;
   font: bold 13px verdana;
   background: #DDDDDD;
   padding:5px;
   margin-top: 5px;
}



/*#contentJoinButtons{
   width: 100%;
   height:20%;
}
*/
#buttons{
    width: 200px;
    height: 280px;
}
#contenitoreJoin{
    width: 100%;
    height:25%;
    overflow:auto;
 }

#selJoin{
    width: 760px;
    height:100px;  
    margin-top: 20px;

} 

#sectionField{
    width: 80%;
    height:25%;
 } 

/*#sel1{
    width:340px;
    height:80px;
}

#sel2{
    width:340px;
    height:80px;
}*/


.add-fields-picklist-block button, .slds-section-title--divider button{
  width:120px;
  margin-top: 3px;
}

input::-webkit-input-placeholder{
  font-size: 10.5 px;
  font-family: monospace;
}

#centerJoin{
    color:#717171;
    width: 80px;
    line-height: 110px;
    text-align : center;
    font-family : Verdana, Arial, sans-serif; 
    font-size : 30px; 
    height:80px;
}

.allinea {
  float: left;
  overflow:hidden;
 }

 .testoDiv{
    height:100%;
    border: 1px ;
    border-bottom: 2px solid #717171; 
    font-weight: bold;
    text-align: center;
    color:  #717171;
    font-family: verdana;
    font-size : 14px; 
 }

 #left {
 width: 355px;
 height:140px;
 }
 #right {
 width: 355px;
 height:140px;
 }
 
 #center {
 width: 50px;
 height:140px;
 }

 #selctionFiled{
 height:128px;
 }

#buttons ul{
   margin-top:0px;
   padding: 0px;
}

#buttons ul li{
   list-style-type: none;
   
} 

.pulsante{
    width: 150px;
    height:45px;
    text-align: center;
    font: bold 12px verdana, Helvetica, sans-serif;
    color:#333333;
    border-bottom: 2px solid #717171; 
    background: #DDDDDD;
    
    
}
.pulsante:hover{
        background:#EEEEEE;
}


SELECT, INPUT[type="text"] {
    width: 160px;
    
}

SECTION > DIV {
    float: left;
    padding: 4px;
}
SECTION > DIV + DIV {
    width: 40px;
    text-align: center;
}

#selected_users{
   margin-top:5px;
   width: 300px;
   height:160px;
   margin-left:12px;
}
#all_users{
   margin-top:5px;
   margin-right:12px;
   width: 300px;
   height:160px;
}

#btnRight{
    margin-top: 50px;
}


/*******************************************************************************
END
*******************************************************************************/


 

























