.accordion-item {
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    margin-bottom: 1rem;
    border: 1px solid #d4d4d4;
}

.active, .accordion-item:hover {
    background-color: #c6c6c6; 
    cursor: default;
}

.accordion-item-content {
    padding: 0 10px;
    display: none;
    background-color: white;
    overflow: hidden;
		cursor: default;
}

.ws-accordion-header {
	position: relative;
	cursor: pointer;
}

.ws-accordion-toggle {
	position: absolute;
	top: 0;
}

.ws-accordion-toggle i {
	font-size: 16px;
	cursor: pointer;
}

.ws-accordion-toggle i:hover {
	opacity: .7;
}

.ws-accordion-title {
		text-align: center;
		margin-top: 0;
}

	.ws-configuration-container {
		margin-top: .5rem;
		cursor: default;
}
	.ws-configuration-container input {
		width: 100%;
	}

	.ws-config-options,
	.ws-url-container,
	.ws-input-output {
		display: flex;
	}
	.ws-input-output {
		margin-bottom: 1rem;
	}
	.ws-config-options {
		margin: 1rem 0;
	}

	.ws-url-input,
	.ws-url-method,
	.ws-response-user-password,
	.ws-host-port-tag,
	.ws-input-type,
	.ws-output-type {
		padding: 0 .5rem;
		width: 50%;
	}

	.ws-url-input input {
		padding-left: 3rem!important;
	}

	.ws-url-input .slds-input-has-icon_left {
		position: relative;
	}

	.ws-url-input span {
		position: absolute;
		top: 8px;
		left: 5px;
	}

	.ws-response-user-password > div:nth-child(2),
	.ws-host-port-tag > div:nth-child(2) {
		margin: .5rem 0;
	}


	/* End Configuration Options */

/*
.ws-response-user-password > div:nth-child(2),
.ws-host-port-tag > div:nth-child(2) {
}*/

















